.title-bar {
    display: flex;

    flex-direction: row;
    align-items: center;

    background-color: #212540;
    padding: 15px;
    height: 80px;

    border-bottom: 1px solid white;
}

.title-bar svg {
    font-size: 1.8rem;
    margin-right: 15px;
}

.title-bar span {
    font-size: 1.8rem;
    margin-bottom: 3px;
}
